<div class="container">
  
  <div class="row">
    <div class="question-title">タイトル</div>
    <div class="time">投稿日時</div>
  </div>
  
  <div class="row">
    <div>アイコン</div>
    <div>ユーザー名</div>
    <div>科目</div>
  </div>

  <details><summary>内容を見る</summary>
    <div style="height: 150px;overflow-wrap: break-word;overflow-y: scroll;text-align:left" >
      <div>本文</div></br>
      <div class="row">
        <div>解答者アイコン</div>
        <div>回答者名</div>
        <div>解答日時</div>
      </div>
      <div>本文</div>
    </div>
  </details>
</div>