.top-subject{
  border: 1px solid black;
}

.top-subject-contents{
  padding: 10px 0;
}

details{
  border-bottom: 1px solid black;
}

@media screen and (max-width: 425px) {
  .social i {
    color: blue;
  }
}