// Place all the styles related to the devise/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.question{
  text-align: center;
}
.question-title{
  width: 70%;
  text-align: center;
}

.question-time{
  text-align: center;
}

.question-user{
  padding-left: 15%;
}

.question-body{
  overflow: hidden;
  border-radius: 8px;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 5px #888;
  padding: 20px;
}

.question-answer{
  overflow: hidden;
  border-radius: 8px;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 5px #888;
  padding: 20px;
}

.user-info{
  border-top: 1px solid black;
}

.user-intro{
  border-top: 1px solid black;
}


.wrap {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #000;
}

#tab-menu {
  display: flex;
  width: 100%;
}

#tab-menu li {

  width: 100%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 10px 0px 10px;
  text-align: center;
  background: #000;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
}

#tab-contents .tab {
  width: 100%;
  padding: 0px 10px 10px 10px;
  background: #fff;
}

#tab-contents .mypage-question {
  color: #000;
  line-height: 2.5;
  border-top: 1px solid black;
}