<div class="container" style="width:100%;">
  <div class="row">
    <div class="col-12 text-center">最新の投稿</div>
  </div>
  <div class="row">
    <div class="col-3">科目一覧</div>
    <div class="col-8">
      <%= render "public/questions/question" %>
    </div>
  </div>
</div>