<div class="container col-8">
  <div>
  <%= render "public/questions/detail_question" %>
  </div>

  <%= form_with model:@answering,url:public_question_answers_path(@question), method: :post do |answering| %><!--解答入力-->
    <div class="question-answering">
      <div class="row">
        <div class="answering-user-icon">入力者アイコン</div>
        <div class="answering-user-name">入力者名</div>
      </div>
      <div>
        <%= answering.text_area :answer, placeholder: "返答内容を入力", class: "answering-body" %>
        <%= answering.submit "答える" %>
      </div>
    </div>
  <% end %>

</div>