<ul class="top-subject">
  <li class="top-subject-contents">サンプル1</li>
  <li class="top-subject-contents">サンプル2</li>
  <li class="top-subject-contents">サンプル3</li>
  <% @subject.each do |subject| %>
  <li><%= link_to subject.subject_name, public_question_path(subject) %></li>
  <% end %>
</ul>