.question-answering{
  overflow: hidden;
  border-radius: 8px;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 5px #888;
  padding: 20px;
  height: 250px;
}

.answering-body{
  width: 100%;
  height: 100px;
}