// Place all the styles related to the devise/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.question{
  text-align: center;
}
.question-title{
  width: 80%;
  text-align: center;
}

.question-time{
  width: 20%;
  text-align: center;
}

.question-user{
  padding-left: 30%;
}

.question-body{
  overflow: hidden;
  border-radius: 8px;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 5px #888;
  padding: 20px;
}

.question-answer{
  overflow: hidden;
  border-radius: 8px;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 5px #888;
  padding: 20px;
}